DATABASE_URL=postgres://user:password@localhost:5432/rubato
JWT_SECRET=testsecret

# "production" for production, local dev otherwise
APP_ENV=

# AWS env variables
S3_BUCKET_NAME=
S3_PUBLIC_URL=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
