<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Rubato{% endblock %}</title>
    <link href="/assets/main.css" rel="stylesheet">
    <script src="/assets/vendor/htmx.js"></script>
</head>
<body class="bg-sonata-black text-sonata-pearl font-sans min-h-screen {% block body_class %}{% endblock %}">
    <div class="flex min-h-screen">
        {% block nav %}{% endblock %}
        <main class="flex-1 flex flex-col min-w-0 relative">
            <div class="flex-1 container mx-auto p-8 pb-24" hx-history-elt id="main-content">
                {% block content %}{% endblock %}
            </div>
            
            <div id="player-container" class="sticky bottom-0 w-full z-40">
            </div>
        </main>
    </div>
</body>
</html>
