<div class="max-w-4xl mx-auto py-12">
    <div class="mb-12">
        <a href="/{{ recording.artist_handle }}" hx-boost="true" hx-target="#main-content" class="text-xs tracking-[0.3em] uppercase font-light text-sonata-slate hover:text-sonata-pearl transition-colors">
            @{{ recording.artist_handle }}
        </a>
        <h1 class="text-5xl font-light tracking-tight text-sonata-pearl mt-4 mb-2">
            {{ recording.composition_title }}
        </h1>
        
        {% if let Some(title) = recording.movement_title %}
        <div class="text-xl font-light text-sonata-slate italic">
            {% if let Some(idx) = recording.movement_index %}
            {{ idx + 1 }}.
            {% endif %}
            {{ title }}
        </div>
        {% endif %}

        <div class="mt-8 text-[10px] tracking-widest text-sonata-slate uppercase font-light">
            Uploaded {{ recording.created_at.format("%B %d, %Y") }}
        </div>
    </div>

    <div class="flex items-center space-x-8 mb-16">
        <button 
                data-composition-title="{{ recording.composition_title }}"
                {% if let Some(title) = recording.movement_title %}
                data-movement-title="{{ title }}"
                {% endif %}
                data-artist-handle="{{ recording.artist_handle }}"
                data-file-key="{{ recording.file_key }}"
                data-mime-type="{{ recording.mime_type }}"
                onclick="playRecording(this.dataset)"
                class="sonata-btn px-6 py-4 flex items-center text-left space-x-3">
            <span class="h-8 w-8 md:h-4 md:w-4">{% include "icons/play.svg" %}</span>
            <span class="text-xs uppercase tracking-widest">Play Recording</span>
        </button>

        {% if let Some(user) = current_user %}
            {% if user.handle == recording.artist_handle %}
            <a hx-boost="true"
               hx-target="#main-content"
               href="/{{ recording.artist_handle }}/recordings/{{ recording.slug_id }}/edit"
               class="text-xs uppercase tracking-widest px-6 py-4 sonata-btn-outline">
                Edit Recording
            </a>
            {% endif %}
        {% endif %}
    </div>

    {% if let Some(notes) = recording.notes %}
    <div class="prose prose-invert max-w-none">
        <h3 class="text-xs uppercase tracking-[0.2em] font-light text-sonata-slate mb-6 border-b border-sonata-border pb-4">Notes</h3>
        <div class="text-sonata-pearl font-light leading-relaxed whitespace-pre-wrap">{{ notes }}</div>
    </div>
    {% endif %}
</div>
